<!-- Product Showcase -->
<section class="products-section py-5">
    <div class="container">
        <h2 class="text-center mb-4">TRENDING COLLECTIONS</h2>
        <div class="row g-4">
            <% trendingProducts.forEach(product => { %>
                <div class="col-md-3 col-6">
                    <div class="card shadow-sm">
                        <% if (product.outOfStock === true) { %>
                            <img class="card-img-top" style="height: 300px;" src="<%= product.imageUrl %>" alt="<%= product.name %>">
                            <span style="background-color: white; color: red; font-weight: bolder; text-align: center;">Out of stock</span>
                        <% } else { %>
                            <img class="card-img-top" style="height: 300px;" src="<%= product.imageUrl %>" alt="<%= product.name %>">
                        <% } %>
                        <div class="card-body text-center">
                            <h5 class="card-title"><%= product.name %></h5>
                            <% if (currency === 'NGN') { %>
                                <p class="text-muted">&#8358;<%= parseFloat(product.NGNprice).toFixed(2) %></p>
                            <% } else { %>
                                <p class="text-muted">$<%= parseFloat(product.USDprice).toFixed(2) %></p>
                            <% } %>

                            <% if (!product.outOfStock) { %>
                                <form action="/cart/add" method="POST">
                                    <input type="hidden" name="productId" value="<%= product.id %>">
                                    <input type="hidden" name="quantity" value="1">
                                    <button type="submit" class="btn btn-dark">Add to Cart</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</section>
